//
//.contenu{
//  display:grid;
//  grid-template-rows: auto;
//  grid-template-columns: 1fr 1fr;
//  grid-gap:20px;
//
//  article{
//  display: grid;
//  grid-template-rows: 100px auto 1fr;
//  }
//  header{
//    background-color: $gray-200;
//    text-align: center;
//  }
//  .padding{
//    padding: 10px;
//  }
//
//  img{
//    align-self: end;
//  }
//  svg {
//     height: 100%;
//   }
//
//}









.contenu {

  article {
    display: grid;
    grid-template-rows: 100px auto 1fr;
    grid-template-columns: 1fr;

    margin-top: 20px;
    border: 1px solid #777777;

    header {
      background-color: #A3B8B5;
      margin: 0;
      padding: 20px 0;

      text-align: center;

      svg {
        height: 100%;
      }
    }

    img {
      align-self: end;
    }
    .padding {
      padding: 10px;
    }
  }

}

@media screen and (min-width: $breakpoint-lg) {
  .contenu {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

}


